<div id='prompt'>

  <form name='questionForm' ng-submit='addPrompt()' novalidate>

    <div class="form-group">
      <label for="prompt">Your Prompt</label>
      <textarea class='text' name='prompt' ng-model='prompt.text' placeholder='Enter a question or a topic for people to respond to' msd-elastic="/n" autofocus required></textarea>
    </div>

    <div ng-if='questionForm.url.$error.required && questionForm.url.$isdirty' class='alert'>Please enter a prompt.</div>

    <button class='btn btn-lg btn-send' type='submit' ng-disabled='questionForm.$invalid'>Submit Prompt</button>

  </form>

  <img class='spinner' ng-if='loading' src='assets/spiffygif_46x46.gif'>

</div>
